.contact-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
  text-align: center;

  input {
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
