.chat-window {
  display: flex;
  flex-direction: column;
  min-width: 77vw;
  justify-content: center;
  align-items: center;

  .hint {
    font-size: 1.5rem;
    color: #757575;
  }

  .typing {
    position: absolute;
    bottom: 8%;
    left: 13.8vw;
    z-index: 1000;
  }
}

.chat {
  padding: 0 2rem;
  min-width: 77vw;
  height: 87vh;
  overflow: scroll;
  overflow-x: hidden;
  color: black;
  text-align: left;

  .chat-contact {
    margin-bottom: 10px;
    max-width: 50%;

    .bubble {
      background-color: #e0f7fa;
      border-radius: 15px;
      padding: 10px;
      max-width: 50vh;

      .bubble-info {
        display: flex;
        justify-content: flex-end;
        gap: 0.25rem;

        .timestamp {
          font-size: 0.75rem;
          color: #757575;
        }
      }

      .bubble-text {
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 100%;
      }
    }
  }

  .chat-user {
    margin-bottom: 10px;
    max-width: 50%;
    margin-left: auto;

    .bubble {
      background-color: #ffecb3;
      border-radius: 15px;
      padding: 10px;
      margin-left: auto;
      max-width: 50vh;

      .bubble-info {
        display: flex;
        justify-content: flex-end;
        gap: 0.25rem;

        .timestamp {
          font-size: 0.75rem;
          color: #757575;
        }
      }

      .bubble-text {
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 100%;
      }
    }
  }
}
